:root {
	--ff: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	--fs-h1: 5rem;
	--fs-h2: 4rem;
	--fs-h3: 3rem;
	--fs-h4: 2rem;

	--fw-n: 500;
	--fw-b: 600;
	--fw-bolder: 900;

	--bg-clr: #007acc;
	--main-clr: #ffffff;
	--highlight-clr: #f0db4f;
	--highlighted-text-clr: #323330;
	--alt-clr: #334155;

	--sign-scale: 200%;
	--cross-scale: var(--sign-scale);
	--circle-scale: calc(var(--cross-scale) - 50%);
	--player-image-scale: 700%;

	--br: 10px;
	--shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

body {
	height: 100vh;

	font-family: var(--ff);
	background-color: var(--bg-clr);
	color: var(--main-clr);
	font-weight: var(--fw-n);
}

.scaffold {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.header {
	padding: 0 5%;

	color: var(--highlighted-text-clr);
	background-color: var(--highlight-clr);
	border-bottom: 6px solid var(--highlighted-text-clr);
}

h1 {
	font-size: var(--fs-h1);
	margin: 0;
}

.content {
	height: 100%;
	display: grid;
	grid-template:
		'player-input-1 board player-input-2' 1fr
		'player-input-1 start-button player-input-2' auto
		/ 1fr 1fr 1fr;
	align-items: center;
	justify-items: center;
	padding: 10px;

	background-color: var(--bg-clr);
	color: var(--main-clr);
}

.board-container {
	grid-area: board;
	width: min(500px, 90vw);
	height: min(500px, 90vw);
	display: grid;

	border-radius: var(--br);
}

.board-container > .board,
.board-container > .victory-popup {
	grid-area: 1 / 1 / 1 / 1;
}

.board-container > .victory-popup {
	opacity: 0;
}

.board-container > .victory-popup.show {
	display: grid;
	justify-items: center;
	align-items: center;

	z-index: 2;
	animation: appear 2s ease;
	opacity: 1;
}

.victory-popup > .game-over-message {
	font-size: var(--fs-h3);
	color: var(--highlighted-text-clr);
}

@keyframes appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.board-container > .board {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	z-index: 1;

	border: 4px solid var(--main-clr);
	border-radius: var(--br);
}

.tile {
	border: 1px solid var(--main-clr);
	display: grid;
	justify-items: center;
	align-items: center;
}

.tile .cross,
.tile .circle {
	grid-area: 1 / 1 / 1 / 1;
	visibility: hidden;
	stroke: var(--main-clr);
}

.tile .cross {
	transform: scale(var(--cross-scale));
}

.tile .circle {
	transform: scale(var(--circle-scale));
}

.tile.cross-shown .cross {
	visibility: visible;
}

.tile.circle-shown .circle {
	visibility: visible;
}

.player-input#player-input-1 {
	grid-area: player-input-1;
}

.player-input#player-input-2 {
	grid-area: player-input-2;
}

.player-input {
	display: grid;
	gap: 10px;
	justify-items: center;
	width: min(200px, 35vw);
	grid-template:
		'name name name' auto
		'image image image' auto
		'human easy hard' auto
		/ 1fr 1fr 1fr;
}

.name-input {
	grid-area: name;
}

.name-input label {
	display: none;
}

.name-input input {
	width: 100%;
	background-color: transparent;
	border: none;
	outline: none;
	text-align: center;
	color: var(--main-clr);
	font-size: var(--fs-h4);
	font-weight: var(--fw-b);
}

.name-input input::placeholder {
	color: var(--main-clr);
	opacity: 0.8;
}

.player-image-frame {
	grid-area: image;
	width: 100%;
	height: min(200px, 40vw);
	display: grid;
	justify-items: center;
	align-items: center;

	background: var(--alt-clr);
	border-radius: var(--br);
	border: 3px solid var(--main-clr);
}

.player-image-frame > svg {
	display: none;
	color: var(--main-clr);
	stroke: var(--alt-clr);
	transform: scale(var(--player-image-scale));
}

.human-button:checked ~ .player-image-frame .image-human {
	display: block;
}

.easy-button:checked ~ .player-image-frame .image-AI-easy {
	display: block;
}

.hard-button:checked ~ .player-image-frame .image-AI-hard {
	display: block;
}

.player-input input[type='radio'] {
	display: none;
}

.player-input input[type='radio'] + label {
	background-color: var(--alt-clr);
	border-radius: var(--br);
	padding: 10px;
	border: 3px solid var(--main-clr);
	width: 100%;
	overflow: hidden;
}

.player-input input.human-button[type='radio'] + label {
	padding-left: 0px;
}

.player-input input[type='radio']:checked + label {
	color: var(--highlight-clr);
	border-color: var(--highlight-clr);
}

.human-button,
.human-button + label {
	grid-area: human;
}

.easy-button,
.easy-button + label {
	grid-area: easy;
}

.hard-button,
.hard-button + label {
	grid-area: hard;
}

#start-button {
	grid-area: start-button;
	width: 100%;
	height: 100px;

	background-color: var(--highlight-clr);
	color: var(--highlighted-text-clr);
	border-color: var(--highlighted-text-clr);
	font-weight: var(--fw-bolder);
	font-size: var(--fs-h1);
	font-family: var(--ff);
	border-radius: var(--br);
}

.glass {
	border-radius: var(--br);
	backdrop-filter: blur(20px);
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: var(--shadow);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 900px) {
	.content {
		grid-template:
			'player-input-1  player-input-2' auto
			'board board ' 1fr
			'start-button start-button' auto
			/ 1fr 1fr;
		gap: 50px;
	}
}

@media (max-width: 500px) {
	:root {
		--fs-h1: 3rem;
		--fs-h2: 2.8rem;
		--fs-h3: 2.3rem;
		--fs-h4: 1.8rem;
		--cross-scale: 150%;
	}

	.header h1 {
		text-align: center;
	}

	.player-input {
		grid-template:
			'name' auto
			'image' auto
			'human' auto
			'easy' auto
			'hard' auto;
	}

	.player-input input[type='radio'] + label {
		text-align: center;
	}

	.player-input input.human-button[type='radio'] + label {
		padding-left: 10px;
	}
}

@media (max-width: 450px) {
	:root {
		--player-image-scale: 600%;
	}
}

@media (max-width: 400px) {
	:root {
		--cross-scale: 130%;
		--player-image-scale: 500%;
	}
}

@media (max-width: 350px) {
	:root {
		--player-image-scale: 450%;
	}
}

@media (min-width: 2000px) {
	.content {
		column-gap: 100px;
	}
	.player-input#player-input-1 {
		justify-self: end;
	}
	.player-input#player-input-2 {
		justify-self: start;
	}
}
